@charset "utf-8";
/*CSS Document*/
* {outline: medium none !important; padding: 0;margin: 0;}
a,a > *,input,button,.zoom>*,.animall{transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s;-moz-transition: all 0.4s ease 0s;-ms-transition: all 0.4s ease 0s;-o-transition: all 0.4s ease 0s;}
body{font-family: 'Roboto Slab',serif;font-size: 14px;color:#111;}
a:hover{color: #ff6d0d!important;text-decoration: none;}
.navbar{padding: 0px!important;}
.container{max-width: 1200px!important;}
.paddingub{padding: 100px 0;}
.inline{display: inline-block;width: 100%;}
.img-box img{max-width: 100%;}
.img-fullwidth{width: 100%!important;}
.py-7{padding: 7px 0;}
.social-bg{background-color: #2f2c2d!important;}

/*-----preloader----*/
#preloader {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #fff;z-index: 9999;}
#spinner {display: block;position: relative;left: 46%;top: 44%;width: 70px;height: 70px;}
/*-----End-----*/

/*-----zoom on hover-----*/
.zoom{display: block; overflow: hidden; position: relative;}
.zoom img:hover{-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
/*-----End-----*/

.navbar-expand-lg .navbar-nav .nav-link:hover{color: #ff6d0d!important;}
.contact-part .contact-submit:hover,.shop-total .quote:hover,.prod-edit .coupon-update .update a:hover,.prod-edit .coupon-update .coupon a:hover,.item-info-stock .item-cat-col-qty .add-cart:hover,.comm-form .btn.submit-comment:hover,.comments-part .comment .comment-detail .reply-btn:hover,.cause-detail .comment-submit:hover,.gallery-part .more .more-btn:hover,.about-part .readmore:hover{background-color: #ff6d0d;color: #fff!important;}
.payment-done{color: #fff;background-color:#ff6d0d;padding:14px 31px 15px 30px;display: inline-block;font-size: 14px;font-weight: 500;text-decoration: none;}
.shop-total .checkout a:hover,.education-part .donate-box .donate-btn:hover,.cause-detail .donate:hover,.banner-detail .donate:hover,.header ul .nav-item.donate a:hover,.payment-done:hover{color: #fff!important;background-color: #ca5407;text-decoration: none;}
.about-service .about-serv-detail:hover img{transform: rotateY(180deg);}
.about-service .about-serv-detail:hover{box-shadow: 0px 6px 30px -10px rgba(0,0,0,0.25);}
.services .my-15:hover img{transform: rotateY(180deg);}
.mob-donate{color: #fff!important;font-weight: 400;padding: 4px 6px 5px 9px;margin: 0;font-family: 'Open Sans';background-color: #ff6d0d;font-size: 12px;width: 130px;height: 40px;margin: 8px 0 15px 0px;}
.mob-donate .nav-link{color: #fff;}
.navbar-expand-lg .navbar-nav .mob-donate .nav-link:hover{color: #fff!important;}

/*Header part*/
.main{font-family: 'Open Sans',Roboto slab;}
.header{padding:0;}
.header ul li{margin: 0px 25px 0 22px;}
.header ul li:last-child{margin-right:0;}
.header ul li a{color:#fff;font-weight: 600;font-family: 'Roboto Slab', serif;font-size: 14px;}
.header ul .nav-item.donate a{color: #fff!important;font-weight: 400;padding:14px 30px 15px 29px!important;margin: 0;font-family:'Open Sans';display: inline-block;background-color: #ff6d0d;margin-top: 25px;}
.navbar-dark .navbar-nav .nav-link{color: #212322!important;padding-top:40px;padding-bottom:39px;}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{color: #ff6d0d!important;}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color: #ff6d0d;}
.navbar-dark .navbar-toggler-icon{margin-top: 12px}
.navbar-toggler{padding: 4px 1px 0;}
.navbar-nav > li > .dropdown-menu{margin-top: 0px;border-top-left-radius: 0;border-top-right-radius: 0;transition: unset;-webkit-transition: unset;}

.dropdown-menu{border-top:2px solid #10cb7f!important;background-color: rgba(23, 23, 23, 0.9)!important;border-radius: 0;}
.dropdown-menu{margin-top: 0;}
.megamenu{position: static!important;}
.dropdown-item.active, .dropdown-item:active{background-color: unset!important;}
.dropdown-item:focus, .dropdown-item:hover{background-color: unset!important;}
.dropdown-item:focus, .dropdown-item:hover{background-color: unset!important;}
.dropdown-menu:hover,.dropdown-menu.show:hover{display: block;}
.navbar-nav > li.megamenu .dropdown-menu{left: 0;right: 0;margin-left: auto;margin-right: auto;padding:10px!important;border-radius: 0;top:auto;transition: unset;-webkit-transition: unset;}
.mega-dropdown-menu > ul > li{list-style: none;margin: 0 15px;border-bottom: 1px solid rgba(0, 0, 0, 0.04);padding: 4px;}
.dropdown-item:focus, .dropdown-item:hover{color:#ff6d0d;background-color: transparent;}
.mega-dropdown-menu > ul > li > a{font-weight: 400;}
.header .dropdown-menu li{border-bottom: 1px solid rgba(0, 0, 0, 0.04);margin: 0;width: 100%;}
.header .dropdown-menu li a{font-weight: 400;font-size: 14px;padding: 6px 0;display: inline-block;padding-left: 15px;text-decoration: none;}
.dropdown-menu.level-3{margin-left: 158px;top: -8px;margin-top: 0;border:none!important;transition: unset;-webkit-transition: unset;}

/*Banner part*/
/*.banner-detail{padding: 200px 0 0px 0;}*/
.banner-detail .banner-title{font-size: 72px;color: #fff;font-family: 'Roboto Slab', serif;font-weight: 800;margin-bottom: 0px;}
.banner-detail .heading-span{font-size: 16px;color:#fff;font-weight: 400;margin-bottom: 20px;}
.banner-detail .donate{color: #fff;background-color:#ff6d0d;padding:14px 31px 15px 30px;display: inline-block;font-size: 14px;font-weight: 500;text-decoration: none;}
/*End*/

.carousel-item img{position: relative;}
.carousel-item .banner-detail{position: absolute;top:0;text-align: center;width: 100%;top: 50%;transform: translateY(-50%);}
.carousel-control-next-icon, .carousel-control-prev-icon{background-color: rgba(0,0,0,.80);padding: 20px;background-size: 33% 33%;}


/*about-part*/
.about-part{padding-top: 250px;}
.about-part .about-detail{text-align: left;padding-top: 45px;}
.section-title{font-size: 45px;color:#111;font-weight: 600;font-family: 'Roboto slab';margin-bottom: 20px;}
.about-part .about-detail .about-head-span{color: #10cb7f;font-size: 45px;font-weight: 600;font-family: 'Roboto slab';}
.section-detail{color:#999;font-size: 14px;line-height: 25px;margin-bottom: 30px;}
.about-part .readmore{color: #fff;background-color:#10cb7f;padding:15px 38px 14px 38px;display: inline-block;font-size: 14px;font-weight: 500;text-decoration: none;}
/*End*/

/*footer-part*/
.footer-part{color: #888888;background-color:#191919;padding: 100px 0 0 0;}
.footer-part .footer-logo{margin-bottom: 15px;}
.footer-part .footer-p{margin-bottom: 25px;font-family: 'Open Sas',sans-serif;}
.footer-part ul.footer-detail{list-style: none;}
.footer-part .footer-detail li{position: relative;margin-bottom: 15px;}
.footer-part .footer-detail li img{position: absolute;padding-top: 5px;}
.footer-part .footer-links{margin-bottom: 85px;}
.footer-part .footer-detail .company-detail{display: inline-flex;padding-left: 33px;font-family:'Open Sans',sans-serif;}
.footer-part .footer-detail li a{text-decoration: none;color: #888;}
.footer-part .footer-links .heading-five{font-size: 20px;color: #fff;font-family: 'Roboto Slab';font-weight: 600;margin-bottom: 30px;}
.footer-part .footer-links .footer-menu{list-style: none;}
.footer-part .footer-links .footer-menu li{margin-bottom: 5px;font-family:'Open Sans',sans-serif;}
.footer-part .footer-links .footer-menu li a{color: #888;font-size: 14px;font-weight: 500;}
/*End*/

/*bottom-footer*/
.bottom-footer{padding: 40px 0 28px 0;background-color: #212121;}
.bottom-footer .copyright p{color: #828282;font-weight: 500;padding-top: 10px;font-size: 14px;font-family:'Open Sans',sans-serif;}
.bottom-footer .copyright a{color:#10cb7f;text-decoration: underline;}
.footer-part .social-icon i{background-color: #343736;width: 40px;height: 40px;color:#fff;margin-left: 7px;font-size: 14px;text-align: center;padding-top: 14px;}
.footer-part .social-icon i:hover{background-color:#ff6d0d;}
/*End*/

/*navbar part*/
.navbar-nav .nav-item:hover{overflow: visible;z-index: 1;}
.navbar-nav .nav-item .sub-menu{background: #fff none repeat scroll 0 0;left:0px;opacity: 0;position: absolute;top: 45px;width: 200px;list-style: none;box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);transform-origin: 0 0;transition: all .2s ease-in-out 0s;-webkit-transition: all .2s ease-in-out 0s;padding: 10px 15px;}
.navbar-nav .nav-item{overflow: hidden;position: relative;}
.navbar-nav .nav-item:hover .sub-menu{opacity: 1;}
.navbar-nav .nav-item .sub-menu li a{font-size: 14px;font-weight: normal;margin-bottom: 5px;padding-bottom: 5px;width: 100%;text-decoration: none;font-family:'Roboto Slab',sans-serif;padding-left: 15px;color: #212322;line-height: 35px;}
.navbar-nav .nav-item .sub-menu li{margin: 0;padding:0 15px;}
.navbar-nav .nav-item .sub-menu li:hover a{color:#ff6d0d;}
.navbar-nav .nav-item .sub-menu li:hover{width: 100%;background-color:#fff;color:#10cb7f;}
.navbar-nav .nav-item.d-none{position: relative;}
.navbar-nav .nav-item.d-none a:after{content: '';background: #10cb7f;width: 0;height: 2px;left: 0;right: auto;position: absolute;bottom: 4px;-webkit-transition: .4s;-o-transition: .4s;transition: .4s;z-index: 1;}
/*End*/

/*Gallery,Gallery-masonry part*/
.column{width: 33.33%; display: none;}
.row .img-show:after{content:"";display: table;clear: both;}
.showimg{display: block;}
@keyframes winanim {
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
}

/*Gallery-page*/
.gal{-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;margin-top: 25px; -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;}	
.gal img{ width: 100%; padding: 7px 0;}
/*End*/
.work-item.btn{border: none;outline: none;cursor: pointer;background-color: #f5f5f5;}
/*End*/

/*-----End-------*/
@media (min-width: 1610px) and (max-width: 1920px){
	.banner-detail{padding: 300px 0 0px 0;}
	.banner-detail .banner-title{font-size: 120px;color: #fff;font-family: 'Roboto Slab', serif;font-weight: 800;margin-bottom: 0;}
	.banner1-detail{padding-top: 330px;}
	.banner2-detail{padding-top: 380px;}
}
@media (min-width: 1400px) and (max-width: 1600px){
	.banner-detail{padding: 250px 0 0px 0;}
	.banner-detail .banner-title{font-size: 120px;color: #fff;font-family: 'Roboto Slab', serif;font-weight: 800;margin-bottom: 0;}
	
	/*Homepage-1 Css*/
	.banner1-detail{padding-top: 250px;}
	.banner2-detail{padding-top: 300px;}
	/*End Home1 Css*/
}

@media (min-width: 992px) and (max-width: 1200px){
	.header{padding-left: 15px!important;}
	.intro .intro-group .intro-grp-detail{padding: 20px;}
	.banner-detail .banner-title{font-size: 48px;}
	.header ul .nav-item.donate a{padding: 14px 10px 10px 10px;font-size: 13px;}
	.header ul li{margin: 0 15px;}
	.banner-content .heading-three{font-size: 64px;}
	.banner-content .heading-span{font-size: 16px;}
	.banner-content{padding: 135px 0 150px 0;}
	.events{padding: 80px 0;}
	.brand-part{padding:80px 0 110px;}
	.events .events-detail{padding: 30px 20px;}
	.events .events-detail .detail-title{font-size: 14px;}
	.events .events-detail .event-p{margin-bottom: 7px;	font-size: 13px;}
	.comment-part{padding: 80px 0 150px 0;}
	.banner-content{padding-left: 15px;}
	.previous{margin-right: 10px!important;margin-left: 0!important;}
	.next{right: 15px!important;}
	#brand-slider .item{margin: 10px 4px!important;}
	.gal{padding: 0 15px;}
	.comments-part .comment .comment-detail{width: 85%;}
	.slider-width .owl-nav .owl-prev,.slider-width .owl-nav .owl-prev:hover,.causes-slide .owl-nav .owl-prev, .causes-slide .owl-nav .owl-prev:hover{left: 5px;}
	.slider-width .owl-nav .owl-next,.slider-width .owl-nav .owl-next:hover,.causes-slide .owl-nav .owl-next, .causes-slide .owl-nav .owl-next:hover{right: 5px;}
}
@media(min-width:768px) and (max-width: 991px){
	.navbar-dark .navbar-brand img{width: 190px;height: 35px;}
	.footer-part .footer-logo{width: 190px;height: 35px;}
	.mob-height{min-height: 650px;}
	.intro .detail-p{margin-bottom: 30px;}
/*	.banner-detail{padding: 100px 0 0px 0;}*/
	.dropdown-menu.level-3{margin-left: 50px;background-color: transparent!important;}
	.banner-detail .banner-title{font-size: 32px;}
	.banner-detail .heading-span{font-size: 13px;}
	.banner-detail .donate{padding: 10px 17px 11px 17px;font-size: 13px;}
	.paddingub{padding: 50px 0;}
	.header{padding: 10px 10px 10px 10px!important;}
	.navbar-nav > li.megamenu .dropdown-menu{height: auto;background-color: transparent;border: none;}
	.mega-dropdown-menu > ul > li{padding: 0;}
	.navbar-dark .navbar-nav .nav-link{color:#fff!important;padding-top:6px;padding-bottom: 10px;font-weight: 400;font-size: 14px;}
	.navbar-collapse {z-index: 1;}
	.navbar .navbar-collapse{background-color: rgba(4,4,4,0.8);}
	.header ul .nav-item.donate{width: 16%;}
	.header ul .nav-item.donate a{padding: 10px 14px 10px 18px;}
	.banner-content .heading-three{font-size:42px;margin-bottom: 10px;}
	.banner-content .heading-span{font-size: 16px;margin-bottom: 20px;}
	.banner-content{padding: 95px 0 100px 0;}
	.footer-part{padding: 50px 0 0 0;}
	.footer-part .footer-logo{margin-top: -10px;margin-bottom: 16px;}
	.footer-part .footer-p{font-size: 13px;margin-bottom: 25px;}
	.footer-part .footer-detail .company-detail{font-size: 12px;}
	.footer-part .footer-links .heading-five{font-size: 15px;margin-bottom: 25px;}
	.footer-part .footer-detail li{margin-bottom: 23px;}
	.footer-part .footer-links .footer-menu li a{font-size: 12px;}
	.footer-part .footer-links{margin-bottom: 35px;}
	.gal-grp .mb-2{margin-bottom: 0;margin-right: 10px!important;}
	.banner-content .heading-three{font-size: 32px;}
	.recent-post .recent-detail{padding-top: 20px;}
	.contact-part .social-icon{margin-bottom: 20px;}
	.gal{padding: 0 15px;}
	.contact-part .contact-detail .data{margin-bottom: 30px;}
	.mob-donate{width: 100%;text-align: center;font-weight: 600;}
	.navbar-nav{padding: 0 15px!important;}
	.header ul li{margin: 0;}
	.header ul li:last-child{margin-bottom: 17px;}
	.header ul li:first-child{margin-top: 10px;}
	.mob-donate a.nav-link{padding-top: 6px;}
	.navbar-nav .nav-item{position: relative!important;}
	.dropdown-toggle::after{position: absolute;right: 13px;top: 15px;}
	.slider-width .owl-nav .owl-prev,.slider-width .owl-nav .owl-prev:hover,.causes-slide .owl-nav .owl-prev,.causes-slide .owl-nav .owl-prev:hover{left: 5px;}
	.slider-width .owl-nav .owl-next,.slider-width .owl-nav .owl-next:hover,.causes-slide .owl-nav .owl-next,.causes-slide .owl-nav .owl-next:hover{right: 5px;}
	.gallery-part .btn{font-size: 15px;padding: 9px 15px!important;}
	.navbar-brand{padding-top: 8px;}
}
@media (max-width: 767px) and (min-width: 320px){
	.banner-content{text-align: center;}
	/*.banner-detail{padding: 75px 0 0px 0;}*/
	.dropdown-menu.level-3{margin-left: 20px;background-color: transparent!important;}
	.header{padding: 10px 10px 5px 10px!important;}
	.comments-part .comment{margin-bottom: 20px;}
	.paddingub{padding: 50px 0 50px;}
	.paddingub.mob-py-50{padding: 50px 0;}
	.paddingub.mob-py-30{padding: 50px 0 30px 0;}
	.navbar-collapse {z-index: 1;}
	.navbar-dark .navbar-nav .nav-link{color:#fff!important;padding-top: 7px;padding-bottom: 10px;font-size: 13px;}
	.navbar .navbar-collapse{background-color: rgba(33,35,34,0.8);}
	.header ul .nav-item.donate{width: 40%;}
	.header ul .nav-item.donate a{padding: 10px 14px 10px 17px;font-size: 12px;}
	.navbar-dark .navbar-brand{margin-right: 0px;}
	.navbar-dark .navbar-brand img{width: 190px;height: 35px;}
	.footer-part .footer-logo{width: 190px;height: 35px;}
	button.navbar-toggler.collapsed{padding-right: 0;}
	button.navbar-toggler{padding-right: 0;}
	.banner-content{padding: 70px 0 85px 0;}
	.banner-content .donate{padding: 14px 20px 15px 21px;}
	.banner-content .heading-three{font-size: 32px;}
	.banner-content .heading-span{font-size: 15px;}
	.footer-part{padding-top: 40px;}
	.footer-part .footer-links{margin-bottom: 0;}
	.footer-part .footer-links:last-child{margin-bottom: 40px;}
	.footer-part .footer-links .heading-five{margin-bottom: 10px;margin-top: 20px;font-size: 18px;}
	.footer-part .footer-links .footer-menu{margin-bottom: 0;}
	.footer-part .footer-p{margin-bottom: 20px;}
	.bottom-footer{padding: 30px 0 30px 0;}
	.bottom-footer .copyright p{font-size: 11px;padding-top: 0;padding-left: 11px!important;}
	.bottom-footer .social-icon{width: 100%;text-align: center;}
	.banner-content{padding-left: 15px;padding-top: 80px;padding-bottom: 80px;}
	.banner-content .heading-three{font-size: 22px;padding: 16px 13px;}
	.blog-part .sidebar-content .sidebar-category.cat-data,.blog-part .sidebar-content .sidebar-category .gal-grp,.blog-part .tags{margin-bottom: 20px;}
	.recent-post .recent-detail{padding-left: 15px;padding-top: 8px;}
	.about-part.padt{padding-top: 0px;}
	.aboutus-part .title-head-two{font-size: 26px;}
	.gal{padding: 0 15px;}
	.blog-part.detail .blog-detail{margin-bottom: 30px;}
	.mob-donate{width: 100%;text-align: center;font-weight: 600;}
	.navbar-nav{padding: 0 15px!important;}
	.header ul li{margin: 0;}
	.related-prod-title .prod-title{font-size: 18px;}
	.header ul li:last-child{margin-bottom: 17px;}
	.header ul li:first-child{margin-top: 10px;}
	.navbar-nav .nav-item{position: relative!important;}
	.dropdown-toggle::after{position: absolute;right: 10px;top: 13px;}
	.slider-width .owl-nav .owl-prev,.slider-width .owl-nav .owl-prev:hover,.causes-slide .owl-nav .owl-prev,.causes-slide .owl-nav .owl-prev:hover{left: 5px;}
	.slider-width .owl-nav .owl-next,.slider-width .owl-nav .owl-next:hover,.causes-slide .owl-nav .owl-next,.causes-slide .owl-nav .owl-next:hover{right: 5px;}
}
@media (max-width: 575px){
	.pl-20{padding-left: 17px;}
	img.d-block.w-100{height: 265px;width: auto!important;}
	.navbar-dark .navbar-toggler-icon{margin-top: 9px;}
	.cause-detail .donate{position: unset;margin-top: 30px;width: 100%;text-align: center;padding: 11px 30px 10px 31px;}
	.dropdown-menu.level-3{margin-left: 0;background-color: transparent!important;}
	.dropdown-menu{background-color: transparent;border:none;}
	.header ul li a{font-weight: 500;}
	.header .dropdown-menu li{padding:0;}
	.navbar-nav > li.megamenu .dropdown-menu ul{padding: 0;float: none;}
	.header .dropdown-menu li a{}
	.navbar-nav .nav-item{position: relative!important;}
	.dropdown-toggle::after{position: absolute;right: 10px;top: 13px;}
	.column.img-show{width: 100%;}
}

/*pre loader animation*/
.loading {
		-webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotateY(359deg);
	}
	to {
			-webkit-transform: rotateY(0deg);
	}
}
/*------End-----*/